$red: rgb(180,90,90);
$darkPurple: #403872;
$purple: #4a4181;
$mint: #afffca;
$grey: #aaaaaa;

button {
    margin-left: 40vw;
    margin-top: 5px;
    padding: 5px;
    width: 20vw;
    background-color: $purple;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.underline {
    margin-left: 10vw;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80vw;
    height: 3px;
    background-color: $darkPurple;
}

.words-list {
    width: 80vw;
    margin-left: 10vw;
    height: auto;
    li {
        position: relative;
        z-index: 2;
        border: solid 1px $grey;
        width: 100%;
        height: 3vh;
        min-height: 30px;
        margin-bottom: -1px;
        padding: 2.5px;
        list-style-type: none;
        color: black;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 6px;
        .box {
            &:hover {
                background-color: rgb(228, 206, 241);
                color: black;
                cursor: pointer;
            }
        }
        .remove {
            position: absolute;
            z-index: 3;
            margin-top: -1px;
            right: 1vw;
            width: 25px;
            height: 25px;
            background-color: $red;
            color: white;
            border: solid white 1px;
            border-radius: 6px;
            cursor: pointer;
        }
        &:hover {
            background-color: $mint;
            cursor: pointer;
        }
    }
}

.word-form {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 30vw;

    .form-button {
        margin-left: 10vw;
    }

    .underline {
        margin-left: 0;
        width: 100%;
    }

    input {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        width: 100%;
        border: solid 2px $purple;
        height: 3vh;
        min-height: 30px;
        padding: 5px;
        border-radius: 6px;
        color: black;
        background-color: rgb(228, 206, 241);
    }

    label {
        font-weight: bold;
    }
}

